# 공공데이터포털(data.go.kr) API 서비스키
# 기상청 단기예보 조회서비스 키
# https://data.go.kr에서 활용신청 후 발급받아 아래에 입력
KMA_SERVICE_KEY=your_kma_service_key_here

# 국립해양조사원 해양관측정보 API 서비스키
# https://data.go.kr에서 활용신청 후 발급받아 아래에 입력
KHOA_SERVICE_KEY=your_khoa_service_key_here
